Repository opensearch-project/opensearch-jvector, pull requests merged in 2025-04, with the labels that each got.

#26 a demo script for jVector
  scripts/demo.sh
Labels: backport 2.x

#28 Add jenkinsfile and release drafter action for maven central release
  .github/workflows/maven-publish.yml
  .github/workflows/release-drafter.yml
  CHANGELOG.md
  RELEASING.md
  jenkins/release.jenkinsFile
Labels: release, infrastructure

#29 Disable auto-release.yml before onboard to bundle release
  .github/auto-release.yml
Labels: release, infrastructure, skip-changelog

#31 Install jdk21 before running any gradle tasks in release drafter action
  .github/workflows/release-drafter.yml
Labels: release, infrastructure, skip-changelog

#37 Ensure description tag only added when not exist
  build.gradle
Labels: release, infrastructure, skip-changelog

#43 add regression test for codec detection
  build.gradle
  src/test/java/org/opensearch/knn/index/ThreadLeakFiltersForTests.java
  src/test/java/org/opensearch/knn/index/codec/jvector/KNNJVectorTests.java
  src/test/java/org/opensearch/knn/index/engine/CommonTestUtils.java
  src/test/java/org/opensearch/knn/index/engine/InternalKNNEngineTests.java
  src/test/java/org/opensearch/knn/index/engine/JVectorEngineIT.java
Labels: backport 2.x, backport 2.19
